<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Microsoft Identity Platform</a>
    <span class="navbar-text">Authorization-I: Use Active Directory Spring Boot Starter to sign in and call MS Graph</span>
    <div class="btn-group ml-auto dropleft">
        <ul class="nav navbar-nav navbar-right">
            <div sec:authorize="isAuthenticated()">
                <!-- could have also tested if access equals "!hasRole('ROLE_ANONYMOUS') -->
                <li class="nav-item">
                    <a class="nav-link" href="/token_details">Hello
                        <span sec:authentication="name"></span>!
                    </a>
                </li>
                <li>
                    <form:form action="#" th:action="@{/logout}" method="post">
                        <input class="btn btn-warning" type="submit" value="Sign Out" />
                    </form:form>
                </li>
            </div>
            <div sec:authorize="isAnonymous()">
                <!-- could have also tested if access equals "hasRole('ROLE_ANONYMOUS')" -->
                <li>
                    <a class="btn btn-success" href="/oauth2/authorization/azure">Sign In</a>
                </li>
            </div>
        </ul>
    </div>
</nav>